<ul>
  <li class="p-1 flex" [ngClass]="classStatusNavs()">
    <button type="button" class="flex p-2 bg-gruv-light-green dark:bg-gruv-dark-green text-gray-200 dark:text-gruv-dark-fg rounded cursor-pointer" (click)="onToggleMenu()">
      <span class="material-icons-outlined">menu</span>
    </button>
  </li>

  @for (nav of navs(); track $index) {
    <li class="p-1 flex justify-center">
      <a [routerLink]="nav.path" class="flex items-center bg-gruv-light-green dark:bg-gruv-dark-green text-gray-200 dark:text-gruv-dark-fg rounded p-2" [ngClass]="classPath()">
        <span class="material-icons-outlined">{{ nav.icon }}</span>
        @if (isOpen()) {
          <span class="ml-2">{{ nav.label }}</span>
        }
      </a>
    </li>
  }
</ul>
