<ul>
  <li class="p-1" [ngClass]="classStatusNavs()">
    <a type="button" gruv-button-icon (click)="onToggleIsDark()" class="p-2">
      <span class="material-icons-outlined">
        @if (isDark()) {
          light_mode
        } @else {
          dark_mode
        }
      </span>
    </a>
    <a type="button" class="p-2" [ngClass]="isOpen() ? 'ml-2' : 'mb-2'" gruv-button-icon (click)="onToggleMenu()">
      <span class="material-icons-outlined">menu</span>
    </a>
  </li>

  @for (nav of navs(); track $index) {
    <li class="p-1 flex justify-center">
      <a [routerLink]="nav.path" class="flex items-center bg-gruv-light-green dark:bg-gruv-dark-green text-gray-200 dark:text-gruv-dark-fg rounded p-2 hover:opacity-90 focus:opacity-90" [ngClass]="classPath()">
        <span class="material-icons-outlined">{{ nav.icon }}</span>
        @if (isOpen()) {
          <span class="ml-2">{{ nav.label }}</span>
        }
      </a>
    </li>
  }
</ul>
